/*
Theme Name: Devenir TSEEAC - Thème
Text Domain: twentytwenty
Version: 1.0
Requires at least: 6.4.0
Requires PHP: 8.2.0
Description: Thème Open source et personalisé pour le sit edevenir TSEEAC
Tags: TSEEAC, open-source
Author URI: https://github.com/Spitfireap
Theme URI: https://github.com/Spitfireap/wordpress-devenir-tseeac/
License: GNU General Public License v3.0 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 3.0 (https://www.gnu.org/licenses/gpl-3.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/


:root {
  font-family: "InterVariable", sans-serif;
  font-optical-sizing: auto;
  font-size : clamp(17.5px, 1.25vw, 20px);
  background-color: #e1e1e1;
}

body {
 padding:0;
 margin:0;
}

main {
  padding: 2vw;
  margin: 2vw;
}


/* Image Container */
.image-container {
  position: relative;
  text-align: center;
  color: white;
  height: 75vh;
}

.featured-image {
  filter: brightness(50%);
  height: 100%;
  width: 100%;
}

.featured-image img {
  height: 100%;
  width: 100%;
  object-fit:cover;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 700;
}


div .icon-group {
    align-items:center;
    justify-content: center;
}

.icon {
    width: 1.25em;
    height: 1.25em;
    margin: 0.5em;
}

.flex {
    display: flex;
    margin: auto;
}

.full-width {
    width: 100%;
}

.site-title a {
    flex: initial;
    font-weight: 900;
    color: inherit;
    text-decoration: none;
}

.align-center {
    align-items: center;
}

.justify-center {
  justify-content: center;
}

/* Header */
.header{
  padding:1.5vw;
  margin:0.5vw;
}

header .horizontal-sep {
 margin-left: 4vw;
 margin-right: 4vw;
}


/* Nav Menu */
ul.horizontal {
	list-style-type: none;
    padding-left:0;
}

ul.horizontal li {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
}

ul.horizontal li a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

/* FONTS */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Inter/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Inter/InterVariable-Italic.woff2") format("woff2");
}

